*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

#body_main {
    background-image: url("data/bg/bg1.jpg");
}

#body_about {
    background-image: url("data/bg/bg3.jpg");
    /* background: #252525; */
}

#body_contact {
    background-image: url("data/bg47.jpg");
}

#body_art {
    background-image: url("data/bg/bg5.jpg");
    /* background: #213f64; */
}

body {
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

#menu {
    /* float: right; */
    /* margin-right: 15vw; */
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar {
    /* background: linear-gradient(to bottom, rgb(0, 0, 0), rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0)); */
    background: rgba(0, 0, 0, 0.5);
    padding: 10px 0px;
    overflow: hidden;
    border-bottom: 10px #000000;
}

/* #navbar ul{
    margin: auto;
    overflow: auto;
} */

#navbar li{
    /* float: left; */
    display: inline-block;
    list-style: none;
    margin: 5px 20px;
}

#navbar li a{
    padding: 3px 3px;
    text-decoration: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

#navbar ul li a.active{
    color: red;
}

/* .center {
    display: flex;
    align-items: center;
    justify-content: center;
} */

#navbar li a:hover{
    color: red
}

#logodiv {
    float: left;
    margin: auto 0;
    text-align: center;
    
}

#logo {
    text-decoration: none;
    color: white;
    font-family: 'Merienda', 'Bebas Neue', Impact;
    font-size: 30px;
    margin-left: 15vw;
    text-shadow: 1px 1px 2px black, 0 0 5px black;
}

.icon {
    height: 35px;
    width: 35px;
    padding: 10px;
}

#det1 {
    /* background: url("data/bg2smol.png"); */
    background-size: cover;
    background-position: center;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row-reverse;
}

#det1_proj {
    /* background: url("data/bg2smol.png"); */
    background-size: cover;
    background-position: center;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row-reverse;
}

#det1_about {
    /* background: url("data/bg2smol.png"); */
    background-size: cover;
    background-position: center;
    height: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row-reverse;
}

#det1_art {
    background: url("data/headbg.png");
    background-size: cover;
    background-position: center;
    height: 600px;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
}

.quote {
    text-align: center;
    color: white;
    font-family: 'Spartan', 'Arima Madurai','Corinthia', cursive;
    font-size: 45px;
    font-weight: 300;
    overflow: hidden;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
}

#quote_p {
    font-size: 40px;
}

#p_byline {
    text-align: right;
    color: white;
    font-family: 'Arima Madurai','Corinthia', cursive;
    font-size: 30px;
    font-weight: 300;
    margin-right: 10vw;
}

.art_head {
    text-align: left;
    color: white;
    font-family: 'Satisfy', cursive;
    font-size: 80px;
}

.details1 {
    text-align: left;
    color: white;
    font-family: 'Satisfy', Arial;
    font-size: 40px;
}

.det1cont {
    width: 85vw;
}

.det2cont {
    
    overflow: auto;
    width: 85vw;
}

.cursive {
    font-family: 'Corinthia', cursive;
}

.codehead {
    font-family: 'Major Mono Display', monospace;
}

#links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: auto;
    height: 100%;
    width: 10vw;
}

#pfp {
    height: 250px;
    width: 250px;
}

#about1 {
    width: 60vw;
}

.name {
    text-align: left;
    text-decoration: underline 3px;
    color: white;
    font-family: 'Bebas Neue', 'Corinthia', cursive;
    font-size: 80px;
    margin-bottom: 30px;
    font-weight: 300;
}

.about_i {
    font-family: 'Spartan', Arial;
    color: white;
    font-size: 20px;
    margin-right: 10vw;
    word-spacing: 2px;
}

.det2head {
    margin: 5vw 0 4vh 6vw;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
}

.home_info {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    /* height: 400px; */
    margin: 0 15vw 0 5vw;
    padding: 20px 20px 20px 15px;
    color: white;
    background-color: rgb(64, 64, 64, 0.5);
    box-shadow: 15px 15px rgb(30, 30, 30, 0.5);
}

.container {
    height: 800px;
    background-color: rgba(255, 255, 255, 0.5);
    margin: 0 0 100px 0px;
}

#det2_art {
    background: #6584b663;
}

.ichigo {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 700px;
}

.ichigo_img {
    height: 580px;
    /* margin: 20px 0px; */
    box-shadow: 15px 15px #111111b0
}

#o_arts {
    background: #00000080;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.artss {
    height: 500px;
    margin: 20px;
    box-shadow: 15px 15px #ffffff3b
}

#cont_proj {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px;
}

.det_proj {
    width: 70vw;
    background-color: white;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.proj_head {
    font-size: 40px;
    text-align: center;
    word-spacing: 10px;
    text-decoration: underline;
    color: #000000;
    margin: 40px;
    font-family: 'Ubuntu', 'Arima Madurai', Arial;
    font-weight: 700;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
}

.proj_head:hover {
    color: #ff0000;
}

.proj_ss {
    height: 30vw;
    margin: 30px;
    filter: drop-shadow(1px 1px 4px #000000);
}

.proj_info {
    margin: 20px 8vw;
    /* text-align: justify; */
    font-family: 'Ubuntu Condensed', sans-serif;
}

#contact_box {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 50px 0px 20px 0px;
    backdrop-filter: blur(5px);
}

.form {
    width: 60vw;
    /* height: 600px; */
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 20px;
    padding: 20px;
}

.contact {
    width: 30vw;
    height: 350px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 20px;
}

.faq {
    font-family: 'Spartan', 'Arima Madurai', sans-serif;
    margin: 20px 0px;
    text-align: center;
    text-decoration: underline;
}

label {
    font-family: 'Spartan', sans-serif;
}

input[type=text], input[type=email], textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}
  
input[type=submit] {
    background-color: #ff0000;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
  
input[type=submit]:hover {
    background-color: rgb(175, 0, 0);
}
  
.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

.contact ul li {
    margin: 20px;
    list-style: none;
}

.contact ul li a {
    font-family: 'Arima Madurai', sans-serif;
    color: #000000;
    font-weight: 600;
    font-size: 25px;
}

.contact ul li a:hover {
    color: #ff0000;
}

#det2_about {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(data/about/Trophy.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 420px;
}

#trophy {
    width: 100%;
}

.skills_head {
    color: white;
    font-size: 70px;
    font-family: 'Spartan';
    padding: 40px 70px;
    background: rgba(37, 37, 37, 0.35);
    text-shadow: 1px 1px 5px #000000;
    box-shadow: 15px 15px #11111181;
}

#det3_about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px 0px;
}

.skill_box {
    margin: 20px;
    background-color: rgba(236, 232, 225, 0.95);
    width: 90%;
    box-shadow: 15px 15px #585858b0;
}

.skill_title {
    color: #000000;
    font-family: 'Ubuntu', Arial;
    margin: 20px;
}